// Colors
$color-primary: #7168ea;
$color-secondary: #0e0e0e;
$color-heading: #fff;

// Fonts
$font-heading: "Catamaran", sans-serif;
$font-subheading: "Overlock", cursive;
$font-text: "Roboto", sans-serif;

// BreakPoints
$breakpoint-tablet: 1024px;
