@media (max-width: 1020px) {
    body {
        header {
            min-height: 0px;
            padding: 1em;

            > nav {
                .nav-brand {
                    gap: 0.5em;

                    > h1 {
                        font-size: xx-large;
                    }
                }
                .navigation {
                    gap: 0.5em;

                    button {
                        font-weight: 700;
                        padding: 5px 10px;
                    }
                }
            }

            > section {
                .hero-img {
                    display: none;
                }

                .hero-info {
                    min-height: 0px;
                    // justify-content: space-between;

                    h1 {
                        font-size: x-large;
                    }

                    p {
                        font-size: medium;
                    }

                    > .hero-btns > .hero-btn {
                        padding: 10px 15px;
                        font-weight: 700;
                    }
                }
            }
        }

        main {
            > .services {
                height: 600px;

                > .service-card {
                    width: 95%;
                    height: 250px;
                    gap: 10px;

                    > .service-img {
                        display: none;
                    }

                    > .service-context {
                        > a {
                            font-weight: 700;
                            padding: 10px 20px;
                        }
                    }
                }
            }

            > .testimonials {
                height: fit-content;

                > .container {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 20px;

                    > .testimonial {
                        width: 500px;
                        height: 400px;

                        > .testimonial-img {
                            > .img-container {
                                width: calc(40% - 20px);
                            }
                        }

                        > .testimonial-context {
                            > h2 {
                                font-size: xx-large;
                            }
                        }
                    }
                }
            }
        }

        footer {
            height: 170px;

            > .footer-contents {
                row-gap: 5px;
                > .brand {
                    > .img-container {
                        width: 50px;
                        margin: 0px 5px;
                    }

                    h1 {
                        font-size: xx-large;
                    }
                }
                h4 {
                    font-size: small;
                }

                p {
                    display: none;
                }
            }
        }
    }
}
