@mixin btn-primary {
    font-size: large;
    font-family: $font-text;
    letter-spacing: 1px;
    background-color: $color-secondary;
    color: $color-primary;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.3s;
}

@mixin btn-primary-hover {
    background-color: lighten($color-primary, 10%);
    color: $color-secondary;
    cursor: pointer;
}
@mixin btn-secondary {
    font-size: large;
    font-family: $font-text;
    letter-spacing: 1px;
    background-color: $color-primary;
    color: $color-secondary;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.3s;
}

@mixin btn-secondary-hover {
    background-color: lighten($color-secondary, 10%);
    color: $color-primary;
    cursor: pointer;
}

@mixin section-seperater {
    position: absolute;
    z-index: -1;
}
