.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: large;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  border: none;
  border-radius: 0px;
  outline: none;
  margin: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

::selection {
  color: #000;
  background-color: #9b95f0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #343434;
}

::-webkit-scrollbar-thumb {
  background: #b0abf3;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b95f0;
}

img {
  width: 100%;
}

body {
  width: 100vw;
  background-color: #0e0e0e;
}
body header {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  background-color: #7168ea;
  padding: 0px 5vw;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
body header nav {
  width: 100%;
  max-width: 1280px;
  height: 80px;
  padding: 10px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
body header nav .nav-brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}
body header nav .nav-brand .nav-brand-img-container {
  width: 60px;
}
body header nav .nav-brand a {
  font-size: 2rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #fff;
}
body header nav .nav-brand a:hover {
  cursor: pointer;
}
body header nav .navigation {
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
body header nav .navigation a {
  font-size: larger;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 2px;
  color: #282828;
  transition: all 0.3s;
}
body header nav .navigation a:hover {
  color: #0e0e0e;
  text-decoration: underline;
  cursor: pointer;
}
body header nav .navigation button {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: larger;
}
body header nav .navigation button:hover {
  background-color: #9b95f0;
  color: #0e0e0e;
  cursor: pointer;
  background-color: #b0abf3;
}
body header > section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
body header > section .hero-info {
  width: 50%;
  max-width: 500px;
  height: 100%;
  min-height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
body header > section .hero-info > h1 {
  font-size: 2.5rem;
  font-family: "Overlock", cursive;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
body header > section .hero-info > p {
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.4941176471);
  margin-left: 10px;
}
body header > section .hero-info > .hero-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
body header > section .hero-info > .hero-btns > .hero-btn {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
}
body header > section .hero-info > .hero-btns > .hero-btn:hover {
  background-color: #9b95f0;
  color: #0e0e0e;
  cursor: pointer;
}
body header > section .hero-img {
  width: 600px;
  height: 100%;
  min-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
body main {
  width: 100vw;
  margin: 10px 0px;
}
body main .services {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}
body main .services > .service-card {
  width: 95%;
  max-width: 1280px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  transition: all 0.5s;
}
body main .services > .service-card > .service-img {
  width: 200px;
  border: 5px solid #7168ea;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
body main .services > .service-card > .service-context {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .services > .service-card > .service-context > h1 {
  font-size: xx-large;
  font-family: "Overlock", cursive;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #7168ea;
  overflow-y: hidden;
  transition: all 0.5s;
}
body main .services > .service-card > .service-context > p {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  color: #dad8fa;
  padding: 0px 10px;
  overflow-y: hidden;
}
body main .services > .service-card > .service-context > h1:hover,
body main .services > .service-card > .service-context p:hover {
  cursor: default;
}
body main .services > .service-card > .service-context a {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7168ea;
  color: #0e0e0e;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
}
body main .services > .service-card > .service-context a:hover {
  background-color: #282828;
  color: #7168ea;
  cursor: pointer;
}
body main .services > .service-card:hover {
  background-color: #7168ea;
  box-shadow: rgba(255, 255, 255, 0.138) 10px 10px 10px;
  border-radius: 10px;
}
body main .services > .service-card:hover .service-img {
  border-color: #0e0e0e;
}
body main .services > .service-card:hover h1 {
  color: #fff;
}
body main .services > .service-card:hover a {
  background-color: #0e0e0e;
  color: #7168ea;
}
body main .testimonials {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
body main .testimonials > svg {
  position: absolute;
  z-index: -1;
}
body main .testimonials > h1 {
  width: 100%;
  max-width: 1280px;
  text-align: left;
  font-size: 40px;
  font-family: "Overlock", cursive;
  color: whitesmoke;
  padding-left: 20px;
  margin: 20px auto;
}
body main .testimonials > .container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
}
body main .testimonials > .container > .testimonial {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  height: 370px;
  border: 2px solid #7168ea;
  border-radius: 15px;
}
body main .testimonials > .container > .testimonial > .testimonial-img {
  width: 100%;
  height: 40%;
  background-color: #0e0e0e;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .testimonials > .container > .testimonial > .testimonial-img > .img-container {
  width: 40%;
  border: 2px solid #7168ea;
  border-radius: 50%;
}
body main .testimonials > .container > .testimonial > .testimonial-context {
  width: 100%;
  height: 60%;
  background-color: #7168ea;
}
body main .testimonials > .container > .testimonial > .testimonial-context > h2 {
  width: 100%;
  font-size: x-large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  text-align: center;
  color: #0e0e0e;
  margin: 10px 0px;
}
body main .testimonials > .container > .testimonial > .testimonial-context > p {
  width: 100%;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
  padding: 0px 20px;
}
body main .about {
  width: 100%;
  height: 80vh;
  background-color: #7168ea;
  margin-bottom: 2em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body main .about .about-img-container {
  width: 40%;
}
body main .about .about-context {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .about .about-context h1 {
  width: 5em;
  text-align: left;
  font-size: 5rem;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 2px;
}
body main .about .about-context p {
  width: 25em;
  font-size: large;
  font-family: "Roboto", sans-serif;
  margin-top: -30px;
  margin-left: 20px;
}
body footer {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
body footer > svg {
  position: absolute;
  z-index: -1;
}
body footer > .footer-contents {
  width: 100%;
  max-width: 1280px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  row-gap: 10px;
}
body footer > .footer-contents > .brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
body footer > .footer-contents > .brand > .img-container {
  width: 70px;
  background-color: #0e0e0e;
  padding: 5px;
  border-radius: 50%;
  margin: 0px 20px;
  display: flex;
  justify-items: center;
  align-items: center;
}
body footer > .footer-contents > .brand > h1 {
  font-size: 40px;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #0e0e0e;
  margin-top: 10px;
}
body footer > .footer-contents h4 {
  text-align: center;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0e0e0e;
}
body footer > .footer-contents p {
  align-self: center;
  text-align: center;
  overflow: hidden;
}
body footer > .footer-contents p a {
  font-size: large;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0e0e0e;
  transition: all 0.3s;
  padding: 5px 10px;
}
body footer > .footer-contents p a:hover {
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.335) 2px 2px 0px;
}
body .hidden {
  display: none;
}
body #blur-screen {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
}
body #authentication-model {
  width: 400px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 50px black;
  border-radius: 10px;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 0px;
}
body #authentication-model .state-toggler {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
body #authentication-model .state-toggler .state {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 50%;
  border-radius: 0px;
  background-color: #7168ea;
  color: #fff;
}
body #authentication-model .state-toggler .state:hover {
  cursor: pointer;
}
body #authentication-model .state-toggler .focus-state {
  background-color: #fff;
  color: #7168ea;
}
body #authentication-model .svg-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
body #authentication-model form {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body #authentication-model form label {
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #0e0e0e;
  margin-right: 5px;
}
body #authentication-model form input {
  font-size: larger;
  font-family: "Overlock", cursive;
  font-weight: 700;
  caret-color: #7168ea;
  color: #7168ea;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #7168ea;
  border-radius: 10px;
}
body #authentication-model form a {
  width: 100%;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  text-align: right;
  color: #0e0e0e;
  margin-bottom: 30px;
}
body #authentication-model form button {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 100%;
  background-color: #fff;
}
body #authentication-model form button:hover {
  background-color: #b0abf3;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
