.hidden {
  display: none;
}

body {
  width: 100vw;
  background-color: #0e0e0e;
}
body header {
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  background-color: #7168ea;
  padding: 0px 5vw;
  border-bottom-right-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
body header nav {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  padding: 10px 3vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
body header nav .nav-brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}
body header nav .nav-brand .nav-brand-img-container {
  width: 60px;
}
body header nav .nav-brand a {
  font-size: 2rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #fff;
}
body header nav .nav-brand a:hover {
  cursor: pointer;
}
body header nav .navigation {
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
body header nav .navigation a {
  font-size: larger;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 2px;
  color: #282828;
  transition: all 0.3s;
}
body header nav .navigation a:hover {
  color: #0e0e0e;
  text-decoration: underline;
  cursor: pointer;
}
body header nav .navigation button {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: larger;
}
body header nav .navigation button:hover {
  background-color: #9b95f0;
  color: #0e0e0e;
  cursor: pointer;
  background-color: #b0abf3;
}
body header > section {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
body header > section .hero-info {
  width: 50%;
  max-width: 500px;
  height: 100%;
  min-height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
body header > section .hero-info > h1 {
  font-size: 2.5rem;
  font-family: "Overlock", cursive;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
body header > section .hero-info > p {
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.4941176471);
  margin-left: 10px;
}
body header > section .hero-info > .hero-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
body header > section .hero-info > .hero-btns > .hero-btn {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
}
body header > section .hero-info > .hero-btns > .hero-btn:hover {
  background-color: #9b95f0;
  color: #0e0e0e;
  cursor: pointer;
}
body header > section .hero-img {
  width: 600px;
  height: 100%;
  min-height: 450px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
body main {
  width: 100vw;
  margin: 10px 0px;
}
body main .services {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}
body main .services > .service-card {
  width: 95%;
  max-width: 1280px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  transition: all 0.5s;
}
body main .services > .service-card > .service-img {
  width: 200px;
  border: 5px solid #7168ea;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
body main .services > .service-card > .service-context {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .services > .service-card > .service-context > h1 {
  font-size: xx-large;
  font-family: "Overlock", cursive;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #7168ea;
  overflow-y: hidden;
  transition: all 0.5s;
}
body main .services > .service-card > .service-context > p {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  color: #dad8fa;
  padding: 0px 10px;
  overflow-y: hidden;
}
body main .services > .service-card > .service-context > h1:hover,
body main .services > .service-card > .service-context p:hover {
  cursor: default;
}
body main .services > .service-card > .service-context a {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7168ea;
  color: #0e0e0e;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
}
body main .services > .service-card > .service-context a:hover {
  background-color: #282828;
  color: #7168ea;
  cursor: pointer;
}
body main .services > .service-card:hover {
  background-color: #7168ea;
  box-shadow: rgba(255, 255, 255, 0.138) 10px 10px 10px;
  border-radius: 10px;
}
body main .services > .service-card:hover .service-img {
  border-color: #0e0e0e;
}
body main .services > .service-card:hover h1 {
  color: #fff;
}
body main .services > .service-card:hover a {
  background-color: #0e0e0e;
  color: #7168ea;
}
body main .testimonials {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
body main .testimonials > svg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
}
body main .testimonials > h1 {
  width: 100%;
  max-width: 1440px;
  text-align: left;
  font-size: 40px;
  font-family: "Overlock", cursive;
  color: whitesmoke;
  padding-left: 20px;
  margin: 20px auto;
}
body main .testimonials > .container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
}
body main .testimonials > .container > .testimonial {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  height: 370px;
  border: 2px solid #7168ea;
  border-radius: 15px;
}
body main .testimonials > .container > .testimonial > .testimonial-img {
  width: 100%;
  height: 40%;
  background-color: #0e0e0e;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .testimonials > .container > .testimonial > .testimonial-img > .img-container {
  width: 40%;
  border: 2px solid #7168ea;
  border-radius: 50%;
}
body main .testimonials > .container > .testimonial > .testimonial-context {
  width: 100%;
  height: 60%;
  background-color: #7168ea;
}
body main .testimonials > .container > .testimonial > .testimonial-context > h2 {
  width: 100%;
  font-size: x-large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  text-align: center;
  color: #0e0e0e;
  margin: 10px 0px;
}
body main .testimonials > .container > .testimonial > .testimonial-context > p {
  width: 100%;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
  padding: 0px 20px;
}
body main .about {
  width: 100%;
  max-width: 1440px;
  height: 80vh;
  max-height: 700px;
  background-color: #7168ea;
  margin: 0px auto;
  margin-bottom: 2em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body main .about .about-img-container {
  width: 40%;
}
body main .about .about-context {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .about .about-context h1 {
  width: 5em;
  text-align: left;
  font-size: 5rem;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 2px;
}
body main .about .about-context p {
  width: 25em;
  font-size: large;
  font-family: "Roboto", sans-serif;
  margin-top: -30px;
  margin-left: 20px;
}
body footer {
  width: 100vw;
  max-width: 1440px;
  height: 200px;
  background-color: #7168ea;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
body footer .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body footer .brand .img-container {
  width: 70px;
  background-color: #0e0e0e;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .brand h2 {
  font-size: 2rem;
  font-family: "Overlock", cursive;
}
body footer span {
  font-size: larger;
  font-family: "Roboto", sans-serif;
}
body footer p {
  font-size: large;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
body footer p a {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  color: #0e0e0e;
}
body footer p a:hover {
  cursor: pointer;
  font-weight: 700;
}
body #blur-screen {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  z-index: 5;
}
body #authentication-model {
  width: 400px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 50px black;
  border-radius: 10px;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 0px;
  z-index: 6;
}
body #authentication-model .state-toggler {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
body #authentication-model .state-toggler .state {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 50%;
  border-radius: 0px;
  background-color: #7168ea;
  color: #fff;
}
body #authentication-model .state-toggler .state:hover {
  cursor: pointer;
}
body #authentication-model .state-toggler .focus-state {
  background-color: #fff;
  color: #7168ea;
}
body #authentication-model .svg-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
body #authentication-model form {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body #authentication-model form label {
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #0e0e0e;
  margin-right: 5px;
}
body #authentication-model form input {
  font-size: larger;
  font-family: "Overlock", cursive;
  font-weight: 700;
  caret-color: #7168ea;
  color: #7168ea;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #7168ea;
  border-radius: 10px;
}
body #authentication-model form a {
  width: 100%;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  text-align: right;
  color: #0e0e0e;
  margin-bottom: 30px;
}
body #authentication-model form button {
  font-size: large;
  font-family: "Overlock", cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #0e0e0e;
  color: #7168ea;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 100%;
  background-color: #fff;
}
body #authentication-model form button:hover {
  background-color: #b0abf3;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  body header {
    max-width: 100vw;
    height: 100vh;
    padding: 0px 10px;
    border-radius: 0px;
  }
  body header nav {
    height: 60px;
    padding: 0px;
  }
  body header nav .nav-brand {
    gap: 3px;
  }
  body header nav .nav-brand .nav-brand-img-container {
    width: 40px;
  }
  body header nav .nav-brand a {
    font-size: xx-large;
  }
  body header nav .navigation {
    gap: 10px;
  }
  body header nav .navigation a {
    font-size: large;
  }
  body header nav .navigation button {
    font-size: large;
    padding: 5px 15px;
  }
  body header section {
    align-items: center;
  }
  body header section .hero-info {
    width: 80%;
    height: 40%;
  }
  body header section .hero-img {
    display: none;
  }
  body main .services .service-card {
    width: 95%;
    gap: 5px;
  }
  body main .services .service-card .service-img {
    width: 150px;
    border-width: 2px;
  }
  body main .services .service-card .service-context {
    padding: 10px;
    justify-content: space-evenly;
  }
  body main .services .service-card .service-context h1 {
    font-size: larger;
  }
  body main .services .service-card .service-context p {
    font-size: small;
  }
  body main .services .service-card .service-context a {
    font-size: large;
    padding: 5px 15px;
  }
  body main .testimonials {
    width: 100vw;
    height: 450px;
  }
  body main .testimonials > h1 {
    font-size: xx-large;
    margin: 5px;
  }
  body main .testimonials > .container {
    width: 90%;
    overflow-x: scroll;
    gap: 5px;
    justify-content: flex-start;
  }
  body main .about {
    height: 250px;
    margin-bottom: 1em;
  }
  body main .about .about-img-container {
    width: 40%;
    max-width: 200px;
  }
  body main .about .about-context {
    width: fit-content;
    margin: 0px auto;
    align-items: flex-start;
  }
  body main .about .about-context h1 {
    font-size: xx-large;
  }
  body main .about .about-context p {
    width: 100%;
    max-width: 300px;
    font-size: x-small;
    margin-top: -10px;
    margin-left: 0px;
  }
  body footer {
    height: 150px;
  }
  body footer .brand {
    gap: 10px;
  }
  body footer .brand .img-container {
    width: 50px;
  }
  body footer .brand h2 {
    font-size: 1.5rem;
  }
  body footer span {
    font-size: medium;
  }
  body footer p a {
    font-size: medium;
  }
}
@media screen and (max-width: 480px) {
  body header {
    padding: 0px 5px;
  }
  body header nav {
    height: 50px;
  }
  body header nav .nav-brand a {
    font-size: large;
  }
  body header nav .navigation {
    gap: 3px;
  }
  body header nav .navigation a {
    display: none;
  }
  body header nav .navigation button {
    font-size: small;
    padding: 5px 10px;
  }
  body header section .hero-info {
    width: 90%;
    height: 60%;
  }
  body header section .hero-info h1 {
    font-size: xx-large;
  }
  body header section .hero-info p {
    font-size: medium;
  }
  body main .services {
    height: 350px;
  }
  body main .services .service-card {
    width: 100%;
    height: 150px;
    padding: 0px 5px;
    gap: 8px;
  }
  body main .services .service-card .service-img {
    display: none;
    width: 70px;
  }
  body main .services .service-card .service-context {
    padding: 5px;
  }
  body main .services .service-card .service-context h1 {
    font-size: larger;
  }
  body main .services .service-card .service-context p {
    padding-left: 0px;
    font-size: small;
  }
  body main .services .service-card .service-context a {
    font-size: x-small;
    padding: 5px;
    overflow: hidden;
  }
  body main .testimonials > h1 {
    font-size: x-large;
    padding-left: 5px;
    margin: 0px;
  }
  body main .testimonials > .container {
    width: 95%;
  }
  body main .about {
    height: 150px;
  }
  body main .about .about-img-container {
    width: 40%;
    max-height: 150px;
    position: absolute;
    right: 0px;
    overflow: hidden;
  }
  body main .about .about-context {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    padding-left: 10px;
    margin-left: 0px;
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  body main .about .about-context h1 {
    font-size: large;
  }
  body main .about .about-context p {
    font-size: 10px;
    margin-top: 0px;
  }
  body footer {
    height: 100px;
    gap: 5px;
  }
  body footer .brand {
    gap: 5px;
  }
  body footer .brand .img-container {
    width: 30px;
    padding: 0px;
  }
  body footer .brand h2 {
    font-size: large;
  }
  body footer span {
    font-size: small;
  }
  body footer p a {
    font-size: small;
  }
  body #authentication-model {
    width: 300px;
    height: 350px;
  }
  body #authentication-model .state-toggler .state {
    font-size: medium;
  }
  body #authentication-model .svg-container {
    margin-top: 10px;
  }
  body #authentication-model .svg-container svg {
    width: 30%;
  }
  body #authentication-model form {
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
  }
  body #authentication-model form label {
    font-size: medium;
    margin-right: 5px;
  }
  body #authentication-model form input {
    font-size: medium;
  }
  body #authentication-model form a {
    font-size: small;
  }
}

/*# sourceMappingURL=index.css.map */
